name: Compilar proyecto

# Cuándo se ejecuta
on:
  push:              # Cada vez que se hace un push
  pull_request:      # Cada vez que se crea o actualiza un Pull Request

jobs:
  build:
    runs-on: ubuntu-latest     # Sistema operativo donde corren los pasos

    steps:

      # 1. Descargar el código del repositorio
      - name: Obtener código
        uses: actions/checkout@v4

      # 2. Instalar herramientas necesarias para compilar C++ con CMake
      - name: Instalar dependencias de compilación
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ cmake

      # 3. Crear carpeta de compilación (por limpieza)
      - name: Crear carpeta build
        run: mkdir build

      # 4. Configurar el proyecto con CMake
      - name: Configurar con CMake
        run: cmake -S . -B build

      # 5. Compilar el proyecto
      - name: Compilar proyecto
        run: cmake --build build --config Release
